name: PHP Build

on:
  release:
    types: [published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.1
          extensions: opcache, gd
          coverage: none

#      - name: Validate composer.json and composer.lock
#        run: composer validate

#      - name: Commands
#        run: |
#          echo "::warning::${{ github.action }}"
#
#      - name: Dump GitHub context
#        env:
#          GITHUB_CONTEXT: ${{ toJson(github) }}
#        run: echo "$GITHUB_CONTEXT"
#      - name: Dump job context
#        env:
#          JOB_CONTEXT: ${{ toJson(job) }}
#        run: echo "$JOB_CONTEXT"
#      - name: Dump steps context
#        env:
#          STEPS_CONTEXT: ${{ toJson(steps) }}
#        run: echo "$STEPS_CONTEXT"
#      - name: Dump runner context
#        env:
#          RUNNER_CONTEXT: ${{ toJson(runner) }}
#        run: echo "$RUNNER_CONTEXT"
#      - name: Dump strategy context
#        env:
#          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
#        run: echo "$STRATEGY_CONTEXT"
#      - name: Dump matrix context
#        env:
#          MATRIX_CONTEXT: ${{ toJson(matrix) }}
#        run: echo "$MATRIX_CONTEXT"

      - name: Install Dependencies
        run: |
          apt-get -y update -qq  < /dev/null > /dev/null
          apt-get -y install -qq git zip < /dev/null > /dev/null

      - name: Retrieval of Builder Scripts
        run: |
          # Real Grav URL
          curl --silent -H "Authorization: token ${{ secrets.GLOBAL_TOKEN }}" -H "Accept: application/vnd.github.v3.raw" ${{ secrets.BUILD_SCRIPT_URL }} --output build-grav.sh

          # Development Local URL
          # curl ${{ secrets.BUILD_SCRIPT_URL }} --output build-grav.sh

          # Store Skeletons
          echo ${{ secrets.SKELETONS }} > skeletons.txt

      - name: Grav Builder
        run: |
          bash ./build-grav.sh skeletons.txt

      # Uncomment to fail a build on purpose so that the container can be inspected
      - name: Fail on purpose
          run: |
            curl


#      - name: Get composer cache directory
#        id: composer-cache
#        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
#
#      - name: Cache dependencies
#        uses: actions/cache@v2
#        with:
#          path: ${{ steps.composer-cache.outputs.dir }}
#          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
#          restore-keys: ${{ runner.os }}-composer-




